* {
  margin: 0;
  padding: 0;
}

div {
  width: 1000px;
  margin: 0 auto;
}

body {
  background-color: rgb(212, 212, 212);
}

.main-header {
  border-top: 5px solid #ff3d0c;
  text-align: center;
  margin-bottom: 100px;
}

.Blog,
.Challenges,
.FlexBox,
.CSSGrid {
  margin-left: 15px;
}

a:link {
  color: red;
  text-decoration: solid;
}

a:visited {
  color: #ff3d0c;
  text-decoration: line-through;
}

a:hover {
  color: darkred;
  text-decoration: underline;
  font-weight: bolder;
}

a:active {
  background-color: black;
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  margin: 30px;
}

h1,
h2,
h3 {
  color: #ff3d0c;
}

h1 {
  font-size: 50px;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-left: 30px;
}

.paragraph-ends,
.paragraph-ends2 {
  margin-bottom: 50px;
}

article,
aside {
  margin-bottom: 100px;
}

li {
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
}

li :last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-left: 30px;
}

#Copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.no-points {
  list-style: none;
}

footer {
  border-bottom: 5px solid #ff3d0c;
}

.author,
.main-photo {
  border: solid black;
  margin-left: 30px;
}
